#### Bot lib ####
git+https://github.com/HitsukiNetwork/Hitsuki-PTB.git
telethon
pyrogram
#################
aiohttp[speedups]
bleach
emoji
future
googletrans
markdown2
Pillow
PyYAML
requests
spamwatch
sqlalchemy
tldextract
wikipedia
covid
bs4
jikanpy
python-rapidjson
zalgo-text
psycopg2-binary
hurry.filesize
beautifulsoup4
regex
lxml
TgCrypto
cachetools
telegraph
